# [1327. List the Products Ordered in a Period](https://leetcode.com/problems/list-the-products-ordered-in-a-period/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Products

<pre>+------------------+---------+
| Column Name      | Type    |
+------------------+---------+
| product_id       | int     |
| product_name     | varchar |
| product_category | varchar |
+------------------+---------+</pre>
product_id is the primary key (column with unique values) for this table.
This table contains data about the company's products.
 

Table: Orders

<pre>+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| product_id    | int     |
| order_date    | date    |
| unit          | int     |
+---------------+---------+</pre>
This table may have duplicate rows.
product_id is a foreign key (reference column) to the Products table.
unit is the number of products ordered in order_date.
 

Write a solution to get the names of products that have at least 100 units ordered in February 2020 and their amount.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Products table:
<pre>+-------------+-----------------------+------------------+
| product_id  | product_name          | product_category |
+-------------+-----------------------+------------------+
| 1           | Leetcode Solutions    | Book             |
| 2           | Jewels of Stringology | Book             |
| 3           | HP                    | Laptop           |
| 4           | Lenovo                | Laptop           |
| 5           | Leetcode Kit          | T-shirt          |
+-------------+-----------------------+------------------+</pre>
Orders table:
<pre>+--------------+--------------+----------+
| product_id   | order_date   | unit     |
+--------------+--------------+----------+
| 1            | 2020-02-05   | 60       |
| 1            | 2020-02-10   | 70       |
| 2            | 2020-01-18   | 30       |
| 2            | 2020-02-11   | 80       |
| 3            | 2020-02-17   | 2        |
| 3            | 2020-02-24   | 3        |
| 4            | 2020-03-01   | 20       |
| 4            | 2020-03-04   | 30       |
| 4            | 2020-03-04   | 60       |
| 5            | 2020-02-25   | 50       |
| 5            | 2020-02-27   | 50       |
| 5            | 2020-03-01   | 50       |
+--------------+--------------+----------+</pre>
Output: 
<pre>+--------------------+---------+
| product_name       | unit    |
+--------------------+---------+
| Leetcode Solutions | 130     |
| Leetcode Kit       | 100     |
+--------------------+---------+</pre>
Explanation: 
Products with product_id = 1 is ordered in February a total of (60 + 70) = 130.
Products with product_id = 2 is ordered in February a total of 80.
Products with product_id = 3 is ordered in February a total of (2 + 3) = 5.
Products with product_id = 4 was not ordered in February 2020.
Products with product_id = 5 is ordered in February a total of (50 + 50) = 100.

In [1]:
# pandas schema

import pandas as pd

data = [[1, 'Leetcode Solutions', 'Book'], [2, 'Jewels of Stringology', 'Book'], [3, 'HP', 'Laptop'],
        [4, 'Lenovo', 'Laptop'], [5, 'Leetcode Kit', 'T-shirt']]
products = pd.DataFrame(data, columns=['product_id', 'product_name', 'product_category']).astype(
    {'product_id': 'Int64', 'product_name': 'object', 'product_category': 'object'})
data = [[1, '2020-02-05', 60], [1, '2020-02-10', 70], [2, '2020-01-18', 30], [2, '2020-02-11', 80],
        [3, '2020-02-17', 2], [3, '2020-02-24', 3], [4, '2020-03-01', 20], [4, '2020-03-04', 30], [4, '2020-03-04', 60],
        [5, '2020-02-25', 50], [5, '2020-02-27', 50], [5, '2020-03-01', 50]]
orders = pd.DataFrame(data, columns=['product_id', 'order_date', 'unit']).astype(
    {'product_id': 'Int64', 'order_date': 'datetime64[ns]', 'unit': 'Int64'})

In [2]:
import pyspark.sql.functions as F
from pyspark.sql import SparkSession

#pyspark schema

spark = SparkSession.builder.getOrCreate()

products_df = spark.createDataFrame(products)
products_df.show(truncate=False)

bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
23/11/11 22:25:17 WARN Utils: Your hostname, svchost resolves to a loopback address: 127.0.1.1; using 172.18.28.34 instead (on interface eth0)
23/11/11 22:25:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/11 22:25:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+----------+---------------------+----------------+
|product_id|product_name         |product_category|
+----------+---------------------+----------------+
|1         |Leetcode Solutions   |Book            |
|2         |Jewels of Stringology|Book            |
|3         |HP                   |Laptop          |
|4         |Lenovo               |Laptop          |
|5         |Leetcode Kit         |T-shirt         |
+----------+---------------------+----------------+

In [3]:
orders_df = spark.createDataFrame(orders)
orders_df.show(truncate=False)

+----------+-------------------+----+
|product_id|order_date         |unit|
+----------+-------------------+----+
|1         |2020-02-05 00:00:00|60  |
|1         |2020-02-10 00:00:00|70  |
|2         |2020-01-18 00:00:00|30  |
|2         |2020-02-11 00:00:00|80  |
|3         |2020-02-17 00:00:00|2   |
|3         |2020-02-24 00:00:00|3   |
|4         |2020-03-01 00:00:00|20  |
|4         |2020-03-04 00:00:00|30  |
|4         |2020-03-04 00:00:00|60  |
|5         |2020-02-25 00:00:00|50  |
|5         |2020-02-27 00:00:00|50  |
|5         |2020-03-01 00:00:00|50  |
+----------+-------------------+----+

In [4]:
# solving in spark dataframe

#orders_df.filter(F.substring(F.col('order_date'),0,7)=='2020-02')\
orders_df.filter((F.month(F.col('order_date'))==2) & (F.year(F.col('order_date'))==2020))\
    .groupBy('product_id').agg(F.sum('unit').alias('unit'))\
    .filter(F.col('unit')>=100)\
    .join(products_df,on=['product_id'],how='inner')\
    .select('product_name','unit')\
    .show()

+------------------+----+
|      product_name|unit|
+------------------+----+
|Leetcode Solutions| 130|
|      Leetcode Kit| 100|
+------------------+----+

In [5]:
# Solving in Spark SQL

orders_df.createOrReplaceTempView('orders')
products_df.createOrReplaceTempView('products')

spark.sql('''
select product_name, unit from
(select product_id, sum(unit) as unit
from orders
where year(order_date)=2020 and month(order_date)=2
-- where left(order_date,7)='2020-02'
group by orders.product_id
having sum(unit)>=100) t
inner join products on 
products.product_id = t.product_id;
''').show()

+------------------+----+
|      product_name|unit|
+------------------+----+
|Leetcode Solutions| 130|
|      Leetcode Kit| 100|
+------------------+----+

In [6]:
spark.stop()