# [596. Classes More Than 5 Students](https://leetcode.com/problems/classes-more-than-5-students/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Courses

<pre>+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| student     | varchar |
| class       | varchar |
+-------------+---------+</pre>
(student, class) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates the name of a student and the class in which they are enrolled.
 

Write a solution to find all the classes that have at least five students.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Courses table:
<pre>+---------+----------+
| student | class    |
+---------+----------+
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |
+---------+----------+</pre>
Output: 
<pre>+---------+
| class   |
+---------+
| Math    |
+---------+</pre>
Explanation: 
- Math has 6 students, so we include it.
- English has 1 student, so we do not include it.
- Biology has 1 student, so we do not include it.
- Computer has 1 student, so we do not include it.

In [1]:
# pandas schema
import pandas as pd

data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'],
        ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student': 'object', 'class': 'object'})

In [2]:
#converting to spark dataframe
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession.builder.getOrCreate()

courses_df = spark.createDataFrame(courses)
courses_df.show()

bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
23/11/11 17:04:19 WARN Utils: Your hostname, svchost resolves to a loopback address: 127.0.1.1; using 172.18.28.34 instead (on interface eth0)
23/11/11 17:04:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/11 17:04:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+-------+--------+
|student|   class|
+-------+--------+
|      A|    Math|
|      B| English|
|      C|    Math|
|      D| Biology|
|      E|    Math|
|      F|Computer|
|      G|    Math|
|      H|    Math|
|      I|    Math|
+-------+--------+

In [3]:
# solving in spark dataframe

courses_df\
        .groupBy('class')\
        .agg(F.count('class').alias('class_count'))\
        .filter(F.col('class_count')>=5)\
        .select('class').show()

+-----+
|class|
+-----+
| Math|
+-----+

In [4]:
# solving in spark SQL

courses_df.createOrReplaceTempView('courses')

spark.sql('''
select class 
from courses
group by class
having count(class)>=5;
''').show()

+-----+
|class|
+-----+
| Math|
+-----+

In [5]:
spark.stop()