# [1683. Invalid Tweets](https://leetcode.com/problems/invalid-tweets/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Tweets
<pre>
+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| tweet_id       | int     |
| content        | varchar |
+----------------+---------+</pre>
tweet_id is the primary key (column with unique values) for this table.
This table contains all the tweets in a social media app.
 

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Tweets table:
<pre>
+----------+----------------------------------+
| tweet_id | content                          |
+----------+----------------------------------+
| 1        | Vote for Biden                   |
| 2        | Let us make America great again! |
+----------+----------------------------------+</pre>
Output: 
<pre>
+----------+
| tweet_id |
+----------+
| 2        |
+----------+</pre>
Explanation: 
Tweet 1 has length = 14. It is a valid tweet.
Tweet 2 has length = 32. It is an invalid tweet.

In [1]:
# Pandas Schema

import pandas as pd

data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [2]:
# pyspark schema

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

tweets_df = spark.createDataFrame(tweets)

bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
23/11/05 10:42:11 WARN Utils: Your hostname, svchost resolves to a loopback address: 127.0.1.1; using 172.18.28.34 instead (on interface eth0)
23/11/05 10:42:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/05 10:42:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
tweets_df.printSchema()

root
 |-- tweet_id: long (nullable = true)
 |-- content: string (nullable = true)

In [4]:
tweets_df.show(truncate=False)

+--------+--------------------------------+
|tweet_id|content                         |
+--------+--------------------------------+
|1       |Vote for Biden                  |
|2       |Let us make America great again!|
+--------+--------------------------------+

In [5]:
# In spark Dataframe
import pyspark.sql.functions as F

tweets_df.filter(F.length(F.col('content'))>15).select('tweet_id').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

In [6]:
#In spark SQL
tweets_df.createOrReplaceTempView('tweets')

spark.sql('''
select tweet_id from tweets where length(content)>15;
''').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

In [7]:
spark.stop()