# [1341. Movie Rating](https://leetcode.com/problems/movie-rating/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Movies

<pre>+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| movie_id      | int     |
| title         | varchar |
+---------------+---------+</pre>
movie_id is the primary key (column with unique values) for this table.
title is the name of the movie.
 

Table: Users

<pre>+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user_id       | int     |
| name          | varchar |
+---------------+---------+</pre>
user_id is the primary key (column with unique values) for this table.
 

Table: MovieRating

<pre>+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| movie_id      | int     |
| user_id       | int     |
| rating        | int     |
| created_at    | date    |
+---------------+---------+</pre>
(movie_id, user_id) is the primary key (column with unique values) for this table.
This table contains the rating of a movie by a user in their review.
created_at is the user's review date. 
 

Write a solution to:

Find the name of the user who has rated the greatest number of movies. In case of a tie, return the lexicographically smaller user name.
Find the movie name with the highest average rating in February 2020. In case of a tie, return the lexicographically smaller movie name.
The result format is in the following example.

 

Example 1:

Input: 
Movies table:
<pre>+-------------+--------------+
| movie_id    |  title       |
+-------------+--------------+
| 1           | Avengers     |
| 2           | Frozen 2     |
| 3           | Joker        |
+-------------+--------------+</pre>
Users table:
<pre>+-------------+--------------+
| user_id     |  name        |
+-------------+--------------+
| 1           | Daniel       |
| 2           | Monica       |
| 3           | Maria        |
| 4           | James        |
+-------------+--------------+</pre>
MovieRating table:
<pre>+-------------+--------------+--------------+-------------+
| movie_id    | user_id      | rating       | created_at  |
+-------------+--------------+--------------+-------------+
| 1           | 1            | 3            | 2020-01-12  |
| 1           | 2            | 4            | 2020-02-11  |
| 1           | 3            | 2            | 2020-02-12  |
| 1           | 4            | 1            | 2020-01-01  |
| 2           | 1            | 5            | 2020-02-17  | 
| 2           | 2            | 2            | 2020-02-01  | 
| 2           | 3            | 2            | 2020-03-01  |
| 3           | 1            | 3            | 2020-02-22  | 
| 3           | 2            | 4            | 2020-02-25  | 
+-------------+--------------+--------------+-------------+</pre>
Output: 
<pre>+--------------+
| results      |
+--------------+
| Daniel       |
| Frozen 2     |
+--------------+</pre>
Explanation: 
Daniel and Monica have rated 3 movies ("Avengers", "Frozen 2" and "Joker") but Daniel is smaller lexicographically.
Frozen 2 and Joker have a rating average of 3.5 in February but Frozen 2 is smaller lexicographically.

In [1]:
# Pandas schema
import pandas as pd

data = [[1, 'Avengers'], [2, 'Frozen 2'], [3, 'Joker']]
movies = pd.DataFrame(data, columns=['movie_id', 'title']).astype({'movie_id': 'Int64', 'title': 'object'})
data = [[1, 'Daniel'], [2, 'Monica'], [3, 'Maria'], [4, 'James']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id': 'Int64', 'name': 'object'})
data = [[1, 1, 3, '2020-01-12'], [1, 2, 4, '2020-02-11'], [1, 3, 2, '2020-02-12'], [1, 4, 1, '2020-01-01'],
        [2, 1, 5, '2020-02-17'], [2, 2, 2, '2020-02-01'], [2, 3, 2, '2020-03-01'], [3, 1, 3, '2020-02-22'],
        [3, 2, 4, '2020-02-25']]
movie_rating = pd.DataFrame(data, columns=['movie_id', 'user_id', 'rating', 'created_at']).astype(
    {'movie_id': 'Int64', 'user_id': 'Int64', 'rating': 'Int64', 'created_at': 'datetime64[ns]'})

In [2]:
#to spark dataframe
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

movies_df = spark.createDataFrame(movies)
users_df = spark.createDataFrame(users)
movie_rating_df = spark.createDataFrame(movie_rating)

bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
23/11/05 17:58:40 WARN Utils: Your hostname, svchost resolves to a loopback address: 127.0.1.1; using 172.18.28.34 instead (on interface eth0)
23/11/05 17:58:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/05 17:58:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
movies_df.show()

+--------+--------+
|movie_id|   title|
+--------+--------+
|       1|Avengers|
|       2|Frozen 2|
|       3|   Joker|
+--------+--------+

In [4]:
users_df.show()

+-------+------+
|user_id|  name|
+-------+------+
|      1|Daniel|
|      2|Monica|
|      3| Maria|
|      4| James|
+-------+------+

In [5]:
movie_rating_df.show()

+--------+-------+------+-------------------+
|movie_id|user_id|rating|         created_at|
+--------+-------+------+-------------------+
|       1|      1|     3|2020-01-12 00:00:00|
|       1|      2|     4|2020-02-11 00:00:00|
|       1|      3|     2|2020-02-12 00:00:00|
|       1|      4|     1|2020-01-01 00:00:00|
|       2|      1|     5|2020-02-17 00:00:00|
|       2|      2|     2|2020-02-01 00:00:00|
|       2|      3|     2|2020-03-01 00:00:00|
|       3|      1|     3|2020-02-22 00:00:00|
|       3|      2|     4|2020-02-25 00:00:00|
+--------+-------+------+-------------------+

In [6]:
from pyspark.sql import Window
import pyspark.sql.functions as F

# Solving in spark dataframe

# working for the user who has rated the greatest number of movies.

name_df = movie_rating_df\
    .groupBy('user_id').agg(F.count('user_id').alias('rating_count'))\
    .join(users_df,on=['user_id'])\
    .orderBy(F.col('rating_count').desc(),F.col('name').asc())\
    .limit(1)\
    .select(F.col('name').alias('results'))
name_df.show()

+-------+
|results|
+-------+
| Daniel|
+-------+

In [7]:
# working for the movie name with the highest average rating in February 2020.

avg_rating_df = movie_rating_df\
    .filter(F.substring('created_at',0,7)=='2020-02')\
    .groupBy('movie_id').agg(F.avg('rating').alias('avg_rating'))\
    .join(movies_df,on=['movie_id'])\
    .orderBy(F.col('avg_rating').desc(),F.col('title').asc())\
    .limit(1)\
    .select(F.col('title').alias('results'))
avg_rating_df.show()

+--------+
| results|
+--------+
|Frozen 2|
+--------+

In [8]:
# combining
final_df = name_df.unionAll(avg_rating_df)
final_df.show()

+--------+
| results|
+--------+
|  Daniel|
|Frozen 2|
+--------+

In [9]:
# In spark SQL

movies_df.createOrReplaceTempView('movies')
movie_rating_df.createOrReplaceTempView('MovieRating')
users_df.createOrReplaceTempView('users')

spark.sql('''
-- working for the user who has rated the greatest number of movies.
select results from (
select name as results
from (select user_id,count(user_id) as user_count 
        from MovieRating
        group by user_id
    ) t1 
left join users on
t1.user_id=users.user_id
order by user_count desc, name asc
limit 1) r1

union all

-- working for the user who has rated the greatest number of movies.
select results from (
select title as results 
from (select movie_id,avg(rating) as avg_rating 
        from MovieRating 
        where left(created_at,7)='2020-02' group by movie_id
    ) t1
left join movies on
movies.movie_id = t1.movie_id
order by avg_rating desc, title asc
limit 1) r2;
''').show()

+--------+
| results|
+--------+
|  Daniel|
|Frozen 2|
+--------+

In [10]:
spark.stop()